<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-4 d-flex justify-content-center">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-100">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label >{{'emailid'|translate}}</mat-label>
            <input  matInput [placeholder]=" 'enteryouremailid' | translate " formControlName="email">
            <mat-error *ngIf="loginform['email'].errors?.['required']">{{'emailidisrequired' | translate}}</mat-error>
          </mat-form-field><br>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label >{{'password'|translate}}</mat-label>
            <input  matInput type="password" [placeholder]=" 'enteryoupassword' | translate " formControlName="password">
            <mat-error  *ngIf="loginform['password'].errors?.['required']">{{'passwordisrequired' | translate}}</mat-error>
          </mat-form-field><br>
          <div class="d-flex justify-content-center">
            <button mat-raised-button color="primary" type="submit" >{{'login' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  